@use './vars/index.scss' as *;

* {
	box-sizing: border-box;
}

body {
	min-width: 360px;
	// font-family: $font_family_main;
	// font-size: $font_size_main;
	// color: $color_main;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}
