body {
	font-family: Roboto, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

header,
section {
	border-bottom: 1px solid #ccc;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
}

.main_box {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	min-height: 100vh;
	background: url('../assets/image/fon/serii-fon-2.png') no-repeat center center;
	background-size: cover;
}
