// fonts -------------------------------
$font_family_main: Roboto, sans-serif;
$font_family_second: Charm, sans-serif;
$font_size_small: 14px;
$font_size_main: 16px;
$font_size_big: 18px;
$font_size_large: 20px;

// color ----------------------------------

$main_color: #003366;

// animations -------------------------------
$transition: 0.15s linear;
$transition_second: 0.5s linear;
$transition_third: 0.3s linear;
